<h1>Listing topics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rant</th>
      <th>Debate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <div class="container">
  <div class="row">
    <div class="timeline-centered">
    
  <article class="timeline-entry">
    
    <div class="timeline-entry-inner">
      <time class="timeline-time" datetime="2014-01-10T03:45"><span>03:45 AM</span> <span>Today</span></time>
      
      <div class="timeline-icon bg-success">
        <i class="entypo-feather"></i>
      </div>
      
      <div class="timeline-label">
        <h2><a href="#">Art Ramadani</a> <span>posted a status update</span></h2>
        <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
      </div>
    </div>
    
  </article>

    <article class="timeline-entry left-aligned">
    
    <div class="timeline-entry-inner">
      <time class="timeline-time" datetime="2014-01-10T03:45"><span>03:45 AM</span> <span>Today</span></time>
      
      <div class="timeline-icon bg-secondary">
        <i class="entypo-suitcase"></i>
      </div>
      
      <div class="timeline-label">
        <h2><a href="#">Job Meeting</a></h2>
        <p>You have a meeting at <strong>Laborator Office</strong> Today.</p>
      </div>
    </div>
    
  </article>
  </div>
  </div>
</div>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.name %></td>
        <td><%= topic.rant %></td>
        <td><%= topic.debate %></td>
        <td><%= link_to 'Show', topic %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path %>
