<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Rant:</strong>
  <%= @topic.rant %>
</p>

<p>
  <strong>Debate:</strong>
  <%= @topic.debate %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
