<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @debate.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @debate.body %>
</p>

<%= link_to 'Edit', edit_debate_path(@debate) %> |
<%= link_to 'Back', debates_path %>
